# March Madness Kaggle Competition

In [7]:
# Libraries

import numpy as np
import pandas as pd

import sklearn

import os

## Notes from my subject matter 'experts' aka my friend Jeff

- Look at seeding
- Draft Projections of Each Player
- Individual Player Scoring
- Team Based
- Team Age / Senority / Experience
- Same Roster
- Coaches - Records/Years Coached
- Conference Winners
- Defensive Stats
- Lowest Turnover Averages
- Injury Amounts / Frequency / Missing Players
- Average Height of Starter Center
- ALL OF DATA SECTION 2
- SECTION 3 NO
- Ranking for this year - Section 4
- Coach Stuff from Section 5

#### Look into adding these to the data:
- Average dunks (whole team)
 - Average Fan Away Game Attendance
- Winning percentage and Frequency of Day Games
- Winning Percentage of Morning Games
- Free Throw % of Centers
- Lowest Foul %
- Hand Size
- Jeff Factor -> Small Point Guard + Steals + Assists^3 + Low Turnovers + High Free Throw %^2
    - Height/Low Turnovers -> Negative Exponent
    - Normalize all of this first
    
---

## Coaches EDA

- Looking through coaches data
- Filtering to 2020 and above
- Adding to main df/db once finished processing

In [12]:
# Coaches Initial Look and EDA

coaches_file = 'C:/Users/teste/Downloads/march_machine_mania/MTeamCoaches.csv' # file import

In [13]:
coaches_df = pd.read_csv(coaches_file) # reading df with pd

In [14]:
coaches_df.head(20) # checking df

    Season  TeamID  FirstDayNum  LastDayNum        CoachName
0     1985    1102            0         154    reggie_minton
1     1985    1103            0         154      bob_huggins
2     1985    1104            0         154   wimp_sanderson
3     1985    1106            0         154     james_oliver
4     1985    1108            0         154    davey_whitney
5     1985    1109            0         154     freddie_goss
6     1985    1110            0         154      ed_tapscott
7     1985    1111            0         154   kevin_cantwell
8     1985    1112            0         154       lute_olson
9     1985    1113            0         154    bob_weinhauer
10    1985    1114            0         154      mike_newell
11    1985    1116            0         154     eddie_sutton
12    1985    1117            0         154  nelson_catalina
13    1985    1119            0         154       les_wothke
14    1985    1120            0         154      sonny_smith
15    1985    1121            0         154   marvin_vanover
16    1985    1122            0         154   howard_jackson
17    1985    1123            0         154         al_brown
18    1985    1124            0         154       jim_haller
19    1985    1126            0         154     cy_mcclairen

In [17]:
coaches_2020_df = coaches_df[coaches_df['Season'] >= 2020]
coaches_2020_df.head(20)

       Season  TeamID  FirstDayNum  LastDayNum        CoachName
11348    2020    1101            0         154      joe_golding
11349    2020    1102            0         154  dave_pilipovich
11350    2020    1103            0         154       john_groce
11351    2020    1104            0         154        nate_oats
11352    2020    1105            0         154     dylan_howard
11353    2020    1106            0         154    lewis_jackson
11354    2020    1107            0         154       will_brown
11355    2020    1108            0         154  montez_robinson
11356    2020    1110            0         154     mike_brennan
11357    2020    1111            0         154     dustin_kerns
11358    2020    1112            0         154      sean_miller
11359    2020    1113            0         154     bobby_hurley
11360    2020    1114            0         154   darrell_walker
11361    2020    1115            0         154   eric_musselman
11362    2020    1116            0         154    mike_anderson
11363    2020    1117            0         154      mike_balado
11364    2020    1119            0         154      jimmy_allen
11365    2020    1120            0         154      bruce_pearl
11366    2020    1122            0         154      matt_figger
11367    2020    1123            0         154   james_whitford